/* Reset básico */
* {
    margin: 3px;
    padding: 2px;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0080ff;
    color: #222;
    line-height: 1.6;
    min-height: 100vh;
}

/* Cabeçalho */
input {
    background: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    padding: 6px;
    box-shadow:0 0px 10px #0080ff;
}
.comteiner {
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    text-align: center;
    box-shadow: 0 0px 10px #0946be;
    align-items: baseline;
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative;
}
img{
    position: absolute;
    top: 40%;
    left: 80%;
    width: 100px;
}
button{
    border: 0px;
    background-color: #0080ff;
    border-radius: 4px;
    padding: 7px;
}
@media (max-width: 600px) {
    main {
        padding: 15px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
}