body{
    font-family: Arial, Helvetica, sans-serif;
}
header{header {
    display: flex;
    align-items: center;
    background-color: rgb(0, 167, 222);
    width: 100vw;      
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 10;
}
    display: flex;
    align-items: center;
    background-color: rgb(0, 167, 222);
    width:100%;

}
img{
    background-color: aliceblue;
    border-radius: 5px;
    width: 30px;
}
h3{
    position: absolute;
    left: 80%;
}